.panel {
  background: #999999;
  width: 80%;
  height: 40px;
  margin: auto;
  color: white;
  padding: 12px 10px;
  font-size: 18px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s linear ;
}
.panel:hover {
  background-color: #333333;
  color: white;
}
.panel__name {
  position: absolute;
  left: 15px;
  top: 7px;
}
.panel__toggle {
  position: absolute;
  top: 11px;
  right: 15px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8em;
  height: 1opx;
  line-height: 0.5em;
}
.toggle-text {
  font-size: 0.8em;
  width: 80%;
  margin: auto;
  visibility: hidden;
  max-height: 0;
  text-align: justify;
  background: #fafafa;
  line-height: 20px;
  transition: visibility  1.75s, max-height  1.75s linear;
}
.test {
  transition: visibility  1.75s, max-height  1.75s linear;
}
.test2 {
  transition: color  1.75s linear;
}
.show-text {
  visibility: visible;
  max-height: 500px;
}
.toggle-text p {
  margin-bottom: 0;
}

.panel-clicked {
  background: #333333;
  color: white;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0s;
}
.delay-0 {
  animation-delay: 0s;
}
.delay-1 {
  animation-delay: 2.1s;
}
.delay-2 {
  animation-delay: 2.5s;
}
.delay-3 {
  animation-delay: 2.9s;
}
.delay-4 {
  animation-delay: 3.3s;
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
