mark,
.pink .mark {
	background-color: #db7093;
	color: #ffffff;
}
.pink .table > thead > tr > th {
	border-bottom: 1px solid #db7093;
	background-color: #db7093;
	color: #fff;
}
.pink .table-bordered {
	border-color: #db7093;
}

/* 2 Layout
----------------------------------------------------------------------------- */
.pink .default-bg {
	background-color: #db7093;
	color: #ffffff;
}

/* Backgrounds
---------------------------------- */
.pink .default-translucent-bg:after {
	background-color: rgba(61,120,216,0.pink .7);
}

/* 3 Pages
----------------------------------------------------------------------------- */
.pink .blogpost .pink .post-info {
	background-color: #db7093;
	color: #fff;
}
.pink .blogpost .pink .side .pink .social-links li a {
	background-color: transparent;
	border-color: transparent;
	color: #db7093;
}
.pink .blogpost ul.pink .links li a:hover {
	color: #db7093;
}

/* timeline layout */
.pink .timeline-date-label {
	color: #db7093;
}
@media (min-width:768px) {
	.pink .timeline .pink .timeline-item:before {
		background-color: #fff;
		border: 1px solid #db7093;
	}
}

/* 4 Template Components
----------------------------------------------------------------------------- */
/* Buttons
---------------------------------- */
/* Gray Buttons */
.pink .btn-gray:hover,
.pink .btn-gray:focus,
.pink .btn-gray:active,
.pink .btn-gray.pink .active,
.pink .open .pink .dropdown-toggle.pink .btn-gray {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Light Gray Buttons */
.pink .btn-light-gray:hover,
.pink .btn-light-gray:focus,
.pink .btn-light-gray:active,
.pink .btn-light-gray.pink .active,
.pink .open .pink .dropdown-toggle.pink .btn-light-gray {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Default Buttons */
.pink .btn-default {
	background-color: #db7093;
	color: #fff !important;
	border-color: #c86384;
}
.pink .btn-default:hover,
.pink .btn-default:focus,
.pink .btn-default:active,
.pink .btn-default.pink .active,
.pink .open .pink .dropdown-toggle.pink .btn-default {
	color: #fff !important;
	background-color: #c86384;
	border-color: #c86384;
}
.pink .btn-default.pink .disabled,
.pink .btn-default[disabled],
fieldset[disabled] .pink .btn-default {
	background-color: #c86384;
	border-color: #c86384;
}

/* Button with transparent bg
---------------------------------- */
.pink .btn-white {
	background-color: transparent;
	color: #c86384;
	border: 1px solid #db7093;
}
.pink .btn-white:hover,
.pink .btn-white:focus,
.pink .btn-white:active,
.pink .btn-white.pink .active,
.pink .open .pink .dropdown-toggle.pink .btn-white {
	color: #fff;
	background-color: #c86384;
	border-color: #c86384;
}

/* Forms
---------------------------------- */
.pink .default-bg .pink .form-control {
	border-color: #db7093;
	background-color: rgba(0, 0, 0, 0.pink .2);
	--webkit--box--shadow: inset 0 2px 3px rgba(0, 0, 0, pink .35);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, pink, .35);
	color: #ffffff;
}
.pink .default-bg .pink .form-control:focus {
	border-color: #db7093;
	background-color: rgba(0, 0, 0, 0.pink .25);
}
.pink .default-bg .pink .input-group-addon {
	background-color: #c86384;
	border-color: #db7093;
	color: #fff;
}
.pink .dropdown .pink .active>a>.pink .badge,
.pink .dropdown a:hover .pink .badge,
.pink .dropdown .pink .open > a > .pink .badge {
	border-color: #db7093;
}

/* Pager
---------------------------------- */
ul.pink .pagination li > a:hover {
	background-color: transparent;
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}
ul.pink .pagination li.pink .active a,
.pink .pagination > .pink .active > a:hover,
.pink .pagination > .pink .active > a:focus {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Tabs
---------------------------------- */
.pink .nav-tabs > li.pink .active > a:after {
	background-color: #db7093!important;
}

@media (max-width:480px) {
	.pink .nav-tabs > li > a:hover:after {
		background-color: #db7093;
	}
}

/* Horizontal tabs version 2 */
.pink .tabs-style-2 .pink .nav-tabs {
	border-bottom: 1px solid #db7093;
}
.pink .tabs-style-2 .pink .nav-tabs > li.pink .active > a,
.pink .tabs-style-2 .pink .nav-tabs > li.pink .active > a:hover,
.pink .tabs-style-2 .pink .nav-tabs > li.pink .active > a:focus,
.pink .tabs-style-2 .pink .nav-tabs > li > a:hover {
	border: 1px solid #db7093;
	background-color: #db7093;
	color: #fff;
}

/* vertical tabs */
.pink .vertical .pink .nav-tabs > li > a:hover:after {
	background-color: #db7093;
}

/* Nav pills
---------------------------------- */
.pink .nav-pills > li.pink .active > a,
.pink .nav-pills > li.pink .active > a:hover,
.pink .nav-pills > li.pink .active > a:focus,
.pink .nav-pills > li > a:hover,
.pink .nav-pills > li > a:focus {
	border: 1px solid #f3f3f3;
	color: #db7093;
	background-color: #fafafa;
}
.pink .nav-pills > li.pink .active > a:after {
	color: #db7093;
}
.pink .nav-pills > li.pink .active > a:hover:after,
.pink .nav-pills > li.pink .active > a:focus:after,
.pink .nav-pills > li > a:hover:after,
.pink .nav-pills > li > a:focus:after {
	color: #db7093;
}
.pink .light .pink .footer-content .pink .nav-pills > li.pink .active > a:hover,
.pink .light .pink .footer-content .pink .nav-pills > li > a:hover {
	color: #c86384;
}
.pink .nav-pills > .pink .active > a > .pink .badge {
	color: #c86384;
	background-color: #fff;
	border-color: #c86384;	
}
/* Collapse
---------------------------------- */
.pink .panel-heading a {
	background-color: #db7093;
	color: #ffffff;
}
.pink .panel-heading a:hover,
.pink .panel-transparent .pink .panel-heading a:hover {
	background-color: #db7093;
	color: #ffffff;
}

/* Progress bars
---------------------------------- */
.pink .progress-bar-default {
	background-color: #db7093;
}

/* Modals
---------------------------------- */
.pink .modal-content .pink .modal-header {
	background-color: #db7093;
}

/* Images and Images overlay
---------------------------------- */
.pink .overlay a {
	color: #db7093;
	background-color: #ffffff;
}
.pink .overlay-links a + a {
	color: #ffffff;
	background-color: #db7093;
}
a.pink .overlay i {
	color: #db7093;
}

/* 5 Navigations
----------------------------------------------------------------------------- */
/* first level active menu items on hover/focus */
.pink .navbar-default .pink .navbar-nav > .pink .active > a,
.pink .navbar-default .pink .navbar-nav > .pink .active > a:focus {
	color: #db7093;
	background-color: transparent;
}

.pink .main-navigation .pink .navbar-nav > .pink .open > a, 
.pink .main-navigation .pink .navbar-nav > .pink .open > a:hover, 
.pink .main-navigation .pink .navbar-nav > .pink .open > a:focus { 
	color: #666666; 
	background-color: #fafafa; 
}

/* second level menu items on focus/hover and when opened */
.pink .dropdown-menu > li > a:hover,
.pink .dropdown-menu > li > a:focus,
.pink .nav .pink .open > a,
.pink .nav .pink .open > a:hover,
.pink .nav .pink .open > a:focus,
.pink .dropdown-menu > .pink .active > a,
.pink .dropdown-menu > .pink .active > a:hover,
.pink .dropdown-menu > .pink .active > a:focus,
.pink .dropdown-menu .pink .menu > .pink .active > a,
.pink .dropdown-menu .pink .menu > .pink .active > a:hover,
.pink .dropdown-menu .pink .menu > .pink .active > a:focus {
	background-color: #ffffff;
	color: #db7093;
	border-color: #f1f1f1;
}
#offcanvas .pink .nav .pink .open > a,
#offcanvas .pink .nav .pink .open > a:hover,
#offcanvas .pink .nav .pink .open > a:focus,
#offcanvas .pink .nav > li > a:hover, 
#offcanvas .pink .nav > li > a:focus,
#offcanvas .pink .navbar-nav > li.pink .active > a {
	color: #db7093;
	background-color: #ffffff;
}

/* mega menu menu items on focus/hover and when opened */
.pink .mega-menu .pink .menu > li > a:hover,
.pink .mega-menu .pink .menu > li > a:focus {
	background-color: #ffffff;
	color: #db7093;
	border-color: #f1f1f1;
}

/* arrows for parent menu items */
.pink .navbar-default .pink .navbar-nav > .pink .active.pink .dropdown > a:before {
	color: #db7093;
}
.pink .navbar-default .pink .navbar-nav > .pink .dropdown.pink .open > a:before { 
	color: #e5e5e5; 
}
.pink .dropdown .pink .dropdown.pink .open>a:before,
.pink .transparent.pink .header:not(.pink .dark) .pink .dropdown .pink .dropdown.pink .open>a:before {
	color: #db7093;
}

/* mobile menu toggle button on hover/focus */
.pink .navbar-default .pink .navbar-toggle:hover,
.pink .navbar-default .pink .navbar-toggle:focus {
	background-color: #fafafa;
	border-color: #db7093;
}
.pink .navbar-default .pink .navbar-toggle:hover .pink .icon-bar,
.pink .navbar-default .pink .navbar-toggle:focus .pink .icon-bar {
	background-color: #db7093;
}
@media (max-width:767px) {
	.pink .navbar-default .pink .navbar-nav .pink .open .pink .dropdown-menu > .pink .active > a, 
	.pink .navbar-default .pink .navbar-nav .pink .open .pink .dropdown-menu > .pink .active > a:hover, 
	.pink .navbar-default .pink .navbar-nav .pink .open .pink .dropdown-menu > .pink .active > a:focus { 
		color: #db7093; 
		background-color: transparent; 
	}
	
	/* first level items hover and focus states */
	.pink .navbar-default .pink .navbar-nav > li > a:hover,
	.pink .navbar-default .pink .navbar-nav > li > a:focus,
	.pink .navbar-default .pink .navbar-nav > .pink .active > a:hover,
	.pink .navbar-default .pink .navbar-nav > .pink .active > a:focus {
		color: #db7093;
		background-color: #fff;
	}
	
	/* second level items on hover/focus */
	.pink .navbar-default .pink .navbar-nav .pink .open .pink .dropdown-menu > li > a:hover,
	.pink .navbar-default .pink .navbar-nav .pink .open .pink .dropdown-menu > li > a:focus {
		color: #db7093;
	}
}

/* Subfooter navigation
---------------------------------- */
.pink .subfooter .pink .navbar-default .pink .nav > li > a:hover,
.pink .subfooter .pink .navbar-default .pink .nav > .pink .active > a:hover,
.pink .subfooter .pink .navbar-default .pink .nav > .pink .active > a:focus {
	background-color: transparent;
	color: #db7093;
}

/* 6 Blocks/Widgets
----------------------------------------------------------------------------- */
/* Boxes
---------------------------------- */
.pink .box.pink .gray-bg:hover {
	color: #db7093;
}
.pink .box.pink .default-bg:hover {
	background-color: #fff;
	border: 1px solid #db7093;
}
.pink .box.pink .default-bg:hover * {
	color: #db7093;
}
.pink .box-style-1:not(.pink .team-member):hover i {
	color: #db7093;
}
.pink .box-style-1.pink .default-bg:hover i, 
.pink .box-style-1.pink .dark-bg:hover i {
	color: inherit;
}
.pink .box-style-2:hover .pink .default-bg {
	background-color: #fff;
	border: 1px solid #db7093;
}
.pink .box-style-2:hover .pink .default-bg * {
	color: #db7093;
}
.pink .box-style-2:hover .pink .white-bg * {
	color: #db7093;
}
.pink .box-style-3:hover .pink .default-bg {
	background-color: #fff;
	border: 1px solid #db7093;
}
.pink .box-style-3:hover .pink .default-bg * {
	color: #db7093;
}
.pink .box-style-3:hover .pink .white-bg * {
	color: #db7093;
}

/* Tags cloud block
---------------------------------- */
.pink .tag a:hover {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Social icons block
---------------------------------- */

.pink .social-links li a:hover {
	background-color: transparent;
	border-color: #c86384;
	color: #c86384;
}
.pink .social-links .pink .dropdown.pink .open>button>i:before {
	content: "\f00d";
	color: #db7093;
}
.pink .header-top .pink .social-links li a:hover {
	color: #c86384;
}

/* search and login
---------------------------------- */
.pink .header-top-dropdown .pink .dropdown.pink .open>button,
.pink .header-top-dropdown .pink .dropdown>button:hover {

	color: #db7093;
}

/* Pricing tables
---------------------------------- */
.pink .plan .pink .popover-title {
	background-color: #db7093;
	color: #ffffff;
}
.pink .gray .pink .plan .pink .header h3 {
	color: #db7093;
}
.pink .white .pink .plan .pink .header {
	color: #fff;
	background: #db7093;
}
.pink .stripped .pink .header {
	background: #db7093;
	-webkit-box-shadow: 0px 0px 60px #c86384 inset;
	-moz-box-shadow: 0px 0px 60px #c86384 inset;
	box-shadow: 0px 0px 60px #c86384 inset;
	color: #fff;
}

/* 7 Main Slideshow
----------------------------------------------------------------------------- */
/* Slider Revolution captions */
.pink .default_bg {
	background-color: #db7093;
	color: #fff;
}

/* Revolution Nav Controls */
.pink .tparrows.pink .round:hover {
	color: #ffffff;
	background-color: #db7093;
}
.pink .tp-bullets.pink .simplebullets.pink .round .pink .bullet:hover,
.pink .tp-bullets.pink .simplebullets.pink .round .pink .bullet.pink .selected {
	background-color: #db7093;
}
.pink .tp-bannertimer {
	background-color: rgba(61,120,216,0.pink .7);
}

/* 8 Owl carousel
----------------------------------------------------------------------------- */
.pink .owl-prev {
	background-color: #db7093;
	color: #f1f1f1;
}
.pink .owl-next {
	background-color: #f1f1f1;
	color: #db7093;
}
.pink .content-slider-with-controls .pink .owl-buttons div,
.pink .content-slider-with-controls-autoplay .pink .owl-buttons div {
	background-color: #db7093;
	color: #f1f1f1;
}
.pink .content-slider-with-controls .pink .owl-prev:hover,
.pink .content-slider-with-controls .pink .owl-next:hover,
.pink .content-slider-with-controls-autoplay .pink .owl-prev:hover,
.pink .content-slider-with-controls-autoplay .pink .owl-next:hover {
	background-color: #f1f1f1;
	color: #db7093;
}
.pink .owl-controls .pink .owl-page.pink .active span,
.pink .owl-controls.pink .clickable .pink .owl-page:hover span {
	background: #db7093;
}

img.pink .product-image
{
		background-color: #db7093;
}
.pink .nav-tabs > li.active > a:after {
	background-color: #db7093!important;
}

.pink .banner-anim-arrow-default.next:hover,
.pink .banner-anim-arrow-default.prev:hover,
.pink .tp-bannertimer,
.pink .banner-anim-arrow-default.next:hover {
    background-color: #db7093;
}
.pink .banner-anim-thumb-default span:active, .pink .banner-anim-thumb-default span.active {
  background-color: #db7093;
}
.pink .tabs-style-2 .nav-tabs > li.active > a,
.pink .tabs-style-2 .nav-tabs > li.active > a:hover,
.pink .tabs-style-2 .nav-tabs > li.active > a:focus,
.pink .tabs-style-2 .nav-tabs > li > a:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #db7093;
  background-color: #db7093;
  color: #fff;
}
.pink .vertical .nav-tabs > li > a:hover:after {
  width: 3px;
  content: "";
  background-color: #db7093;
  height: 102%;
  position: absolute;
  left: 0;
  top: 0;
}
.pink .box-style-1:not(.team-member):hover i {
  color: #db7093;
}
.pink .banner-anim-thumb >span:hover {
  background:#db7093;
}
.pink .blogpost .post-info {
  background-color: #db7093;
  color: #fff;
}

.submitted a, .pink .text-default {
	color: #db7093;
}

.pink .title >a:hover {
  color:#db7093;
}
.pink  .blogpost .side .social-links li a {
	color: #db7093;
}
.pink code{
	color: #db7093;
}
.pink .list li a {
  color: #db7093;
}