body {
  font-family: 'Open Sans', sans-serif;
}
.dropdown-menu {
  display: block!important;
}
.navbar-nav {
  flex-direction: row!important;
}
.footer-nav {
  flex-direction: column!important;
}
.footer-nav li a{
  background-color: transparent!important;
}
